<html>
  <head>
    <title> Northwind</title>

    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'></link>

    <link href="/static/stylesheets/main.css" rel="stylesheet"></link>

  </head>
  <body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
         <!--  <a class="navbar-brand" href="#">
            <img alt="northwind" src="/static/assets/windicon.png">
          </a> -->

        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Products</a></li>
          <li role="presentation"><a href="#">Sausages</a></li>
        </ul>

        </div>
      </div>
  </nav>
  <div class="page-header">
     <h1>this is northwind <small>the sausage people</small></h1>
  </div>

  </body>

</html>